<div class="xcforum">
<h1><{$smarty.const._MD_XCFORUM_LANG_POSTS}><{$smarty.const._VIEW}></h1>
<dl class="view">
  <dt><{$smarty.const._MD_XCFORUM_LANG_POST_ID}></dt>
  <dd><{$object->getShow('post_id')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_UID}></dt>
  <dd><{$object->getShow('uid')|xoops_user:user_name}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_POSTER_IP}></dt>
  <dd><{$object->getShow('poster_ip')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_MODIFIER_IP}></dt>
  <dd><{$object->getShow('modifier_ip')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_SUBJECT}></dt>
  <dd><{$object->getShow('subject')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_SUBJECT_WAITING}></dt>
  <dd><{$object->getShow('subject_waiting')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_PATH_IN_TREE}></dt>
  <dd><{$object->getShow('path_in_tree')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_UNIQUE_PATH}></dt>
  <dd><{$object->getShow('unique_path')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_GUEST_NAME}></dt>
  <dd><{$object->getShow('guest_name')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_GUEST_EMAIL}></dt>
  <dd><{$object->getShow('guest_email')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_GUEST_URL}></dt>
  <dd><{$object->getShow('guest_url')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_GUEST_PASS_MD5}></dt>
  <dd><{$object->getShow('guest_pass_md5')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_GUEST_TRIP}></dt>
  <dd><{$object->getShow('guest_trip')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_POST_TEXT}></dt>
  <dd><{$object->getShow('post_text')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_POST_TEXT_WAITING}></dt>
  <dd><{$object->getShow('post_text_waiting')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_STATUS}></dt>
  <dd><{$object->getShowStatus()}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

    <!-- tag -->
    <{if count($object->mTag)>0}>
    <dt class="tagList"><{$smarty.const._TAG}>: </dt>
    <dd class="tagList">
    <{foreach item=tag from=$object->mTag}>
     <{assign var=tagurl value=$tag|xoops_escape:url}>
      <span><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname query="tag=`$tag`"}>"><{$tag|xoops_escape}></a></span> 
    <{/foreach}>
    <{/if}>
<div class="image">
  <{assign var=imageObjs value=$object->getImages()}>
  <{foreach item=image from=$imageObjs}>
    <{image->makeImageTag()}>
  <{/foreach}>
</div>

</dl>
</div>
