<!-- start module contents -->
<div class="d3f_breadcrumbs">
    <{if $mod_config.show_breadcrumbs}>
    <a href="<{$mod_url}>/index.php"><{$smarty.const._MD_XCFORUM_TOP}></a>
    &nbsp;&gt;&nbsp;
    <{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
    <a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
    &nbsp;&gt;&nbsp;
    <{/foreach}>
    <a href="<{$mod_url}>/index.php?forum_id=<{$forumObj->getShow('forum_id')}>"><{$forumObj->getShow('forum_title')}></a>
    <{/if}>
    <{if $prev_topic.id || $next_topic.id}>
    (<{if $prev_topic.id}>
    <a href="<{$mod_url}>/index.php?topic_id=<{$prev_topic.id}>" title="<{$prev_topic.title}>"><{$smarty.const._MD_XCFORUM_LINK_PREVTOPIC}></a>
    <{/if}>
    <{if $prev_topic.id && $next_topic.id}>
    |
    <{/if}>
    <{if $next_topic.id}>
    <a href="<{$mod_url}>/index.php?topic_id=<{$next_topic.id}>" title="<{$next_topic.title}>"><{$smarty.const._MD_XCFORUM_LINK_NEXTTOPIC}></a>
    <{/if}>)
    <{/if}>
</div>

<h1 class="d3f_title" style="clear:both"><{$topicObj->getShow('topic_title')}></h1>

<{include file="db:`$mydirname`_inc_topicbar.html"}>

<{include file="db:`$mydirname`_inc_d3comment_summary.html"}>
<br />

<{if $topicObj->getShow('external_link_id')}>
<div class="d3f_link">
    <{$objects|@count|string_format:$smarty.const._MD_XCFORUM_FMT_POSTDISPLAYSINFO}>
    (<{$post_hits|string_format:$smarty.const._MD_XCFORUM_FMT_POSTHITSINFO}>)
    <a href="<{$mod_url}>/index.php?forum_id=<{$forumObj->getShow('forum_id')}>&amp;external_link_id=<{$topicObj->getShow('external_link_id')|escape:"url"}>"><{$smarty.const._MD_XCFORUM_LINK_LISTALLCOMMENTS}></a>
</div><!-- /d3f_link -->
<{/if}>

<div class="boxNavi" style="text-align:center;">
    <{if $pagenav}>
    <ul class="itemBody">
        <{foreach from=$pagenav item=nav_}>
        <li class=<{$nav_.class}>><span>
<{if $nav_.url}><a href="<{$nav_.url}>" title="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
<{else}>
<{$nav_.txt}>
<{/if}>
</span></li>
        <{/foreach}>
    </ul><!-- /itemIBody -->
    <{/if}>
</div><!-- /boxNavi -->

<!-- start post tree  -->
<div class="d3f_post_tree">
    <h2 class="head">
        <{$smarty.const._MD_XCFORUM_POSTSTREE}>
    </h2>
    <ul class='d3f_eachbranch'>
    <{foreach from=$postObj item=post}>
        <{* if $post->getShow('topic_id') == $topicObj->getShow('topic_id') *}>
        <{assign var=icon value=$post->getShow('icon')}>
        <li><span style='padding-left:<{$post->getShow('depth_in_tree')}>0px;'>
            <a href="#post_id<{$post->getShow('post_id')}>" id="post_path<{$post->getShow('unique_path')}>" name="post_path<{$post->getShow('unique_path')}>"><img src="<{$mod_imageurl}>/posticon<{$icon}>.gif" alt="<{$post->getShow('icon_meanings[1]')}>" /> <{$post->getShow('subject')}></a>
        (<{$post->getShow('poster_dispname')}>, <{$post->getShow('post_time')|formattimestamp}>)
        <{if $forumObj->getShow('isadminormod')}><a href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$post->getShow('post_id')}>"><img src="<{$mod_imageurl}>/adminicon_cutpaste.gif" alt="<{$smarty.const._MD_XCFORUM_CUTPASTEPOSTS}>" /></a><{/if}></span>
        </li>
        <{* /if *}>
    <{/foreach}>
    <{* $postorder *}>
    </ul>
</div>
<!-- end post tree  -->

<!-- start topic list  -->
<{if $external_link_id && ($tree_tp_count>1)}>
<h2 class="head"><{$smarty.const._MD_XCFORUM_TOPIC}></h2>
<ul class='d3f_eachbranch'>
    <{foreach from=$topics item=post}>
    <{assign var=icon value=$post->getShow('icon')}>
    <li><span style='padding-left:0px; padding-top: 0;'<{if ($post->getShow('topic_id')==$topicObj->getShow('topic_id'))}> class='d3f_eachbranchitem'<{/if}>>
        <{if ($post->getShow('topic_id')!=$topicObj->getShow('topic_id'))}><a href="<{$mod_url}>/index.php?action=TopicsView&amp;topic_id=<{$post->getShow('topic_id')}>#post_id<{$post->getShow('post_id')}>" id="post_path<{$post->getShow('unique_path')}>" name="post_path<{$post->getShow('unique_path')}>"><{/if}><img src="<{$mod_imageurl}>/posticon<{$icon}>.gif" alt="<{$post->getShow('icon_meanings[$icon]')}>" /> <{$post->getShow('topic_title')}><{if ($post->getShow('topic_id')==$topicObj->getShow('topic_id'))}></a><{/if}>
        (<{$post->getShow('poster_dispname')}>, <{$post->getShow('topic_first_post_time')|formattimestamp}>)
        <{if $forumObj->getShow('isadminormod')}><a href="<{$mod_url}>/index.php?page=topicmanager&amp;topic_id=<{$post->getShow('topic_id')}>"><img src="<{$mod_imageurl}>/adminicon_cutpaste.gif" alt="<{$smarty.const._MD_XCFORUM_CUTPASTEPOSTS}>" /></a><{/if}>
        <{if ($post->getShow('topic_id')==$topicObj->getShow('topic_id')) && ($post->getShow('depth_in_tree')==0)}><span style=color:red;><{$smarty.const._MD_XCFORUM_THIS_TOPIC}></span><{/if}>
    </li>
    <{/foreach}>
</ul>
<{/if}>
<!-- end topic list  -->

<{include file="db:`$mydirname`_inc_postorder_links.html"}>
<br />

<!-- quick reply form -->
<{if $first_post.can_reply && ($postorder==3)}>
<{include file="db:`$dirname`_inc_post_form_quick.html" uname=$xoops_uname h2_title=$smarty.const._MD_XCFORUM_POSTASSAMETOPIC quick_form_mode="sametopic" subject_raw=$first_post.subject_raw}>
<{/if}>

<!-- top of posts -->
<div class="d3f_wrap">
    <{foreach from=$postObj item=post}>
    <{include file="db:`$dirname`_inc_eachpost.html" post=$post caller="listposts" inner_link_format="#post_id%s"}>
    <{/foreach}>
</div>
<!-- bottom of posts -->

<{if $topicObj->getShow('external_link_id')}>
<div class="d3f_link" padding: 20px;>
<{$posts|@count|string_format:$smarty.const._MD_XCFORUM_FMT_POSTDISPLAYSINFO}>
(<{$post_hits|@count|string_format:$smarty.const._MD_XCFORUM_FMT_POSTHITSINFO}>)
<a href="<{$mod_url}>/index.php?ForumsView&amp;forum_id=<{$forumObj->getShow('forum_id')}>&amp;external_link_id=<{$topicObj->getShow('external_link_id')|escape:"url"}>"><{$smarty.const._MD_XCFORUM_LINK_LISTALLCOMMENTS}></a>
</div><!-- /d3f_link -->
<{/if}>

<div class="boxNavi" style="text-align:center;">
    <{if $pagenav}>
    <ul class="itemBody">
        <{foreach from=$pagenav item=nav_}>
        <li class=<{$nav_.class}>><span>
<{if $nav_.url}><a href="<{$nav_.url}>" title="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
<{else}>
<{$nav_.txt}>
<{/if}>
</span></li>
        <{/foreach}>
    </ul><!-- /itemIBody -->
    <{/if}>
</div><!-- /boxNavi -->

<{include file="db:`$mydirname`_inc_postorder_links.html"}>
<{* $postorder *}>
<!-- quick reply form -->
<{if $first_post.can_reply && ($postorder!=3)}>
<{include file="db:`$mydirname`_inc_post_form_quick.html" uname=$uname h2_title=$smarty.const._MD_XCFORUM_POSTASSAMETOPIC quick_form_mode="sametopic" subject_raw=$first_post.subject_raw}>
<{/if}>

<!-- forum jump -->
<form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get" style="clear:both;" class="d3f_form">
    <div id="d3f_form_jump_box">
        <select name="forum_id"><{$forum_jumpbox_options}></select>
        <input type="submit" value="<{$smarty.const._MD_XCFORUM_BTN_JUMPTOFORUM}>" />
        &nbsp;
        <a href="<{$mod_url}>/index.php?page=search"><{$smarty.const._MD_XCFORUM_LINK_ADVSEARCH}></a>
    </div>
</form>

<hr class="notification" />
<{include file='db:system_notification_select.html'}>
<!-- end module conte -->