<div class="xcforum">
<h1><{$smarty.const._MD_XCFORUM_LANG_POSTVOTES_DELETE}></h1>

<div class="confirm"><{$smarty.const._MD_XCFORUM_MESSAGE_CONFIRM_DELETE}></div>

<form action="<{xoops_cooluri dirname=$dirname dataname=postvotes action=delete}>" method="post">
  <dl class="edit">
  <dt><{$smarty.const._MD_XCFORUM_LANG_VOTE_ID}></dt>
  <dd><{$object->getShow('vote_id')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_UID}></dt>
  <dd><{$object->getShow('uid')|xoops_user:user_name}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

    <dd>
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=vote_id value=$actionForm->get('vote_id')}>
      <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
      <input type="submit" class="formButton" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"/>
    </dd>
  </dl>
</form>
</div>
