<div class="xcforum">
<h1><{$smarty.const._MD_XCFORUM_LANG_DEFINITION}><{$smarty.const._VIEW}></h1>
<dl class="view">
  <dt><{$smarty.const._MD_XCFORUM_LANG_DEFINITION_ID}></dt>
  <dd><{$object->getShow('definition_id')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_FIELD_NAME}></dt>
  <dd><{$object->getShow('field_name')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_LABEL}></dt>
  <dd><{$object->getShow('label')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_FIELD_TYPE}></dt>
  <dd><{$object->getShow('field_type')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_VALIDATION}></dt>
  <dd><{$object->getShow('validation')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_DESCRIPTION}></dt>
  <dd><{$object->getShow('description')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_OPTIONS}></dt>
  <dd><{$object->getShow('options')}></dd>
  <dt><{$smarty.const._MD_XCFORUM_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

</dl>
</div>
